extensions/ws-consumer/src/test/resources/ws-consumer-http-module-config-nb.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
               ">

    <spring:bean name="sensingRequestResponseProcessorEcho" class="org.mule.tck.SensingNullRequestResponseMessageProcessor" scope="singleton" />

    <http:request-config host="localhost" port="${port}" name="requestConfig" />

    <http:listener-config name="listenerConfig" host="localhost" port="${port}"/>

    <wsc:config name="globalConfig">
        <wsc:ws-connection wsdlLocation="Test.wsdl" service="TestService" port="TestPort" serviceAddress="http://localhost:${port}/services/Test" connectorConfig="requestConfig"/>
    </wsc:config>

    <flow name="client" processingStrategy="non-blocking">
        <http:listener path="in" config-ref="listenerConfig"/>
        <processor ref="sensingRequestResponseProcessorEcho" />
        <wsc:consume operation="echo" />
    </flow>

    <flow name="server">
        <http:listener path="services/Test" config-ref="listenerConfig"/>
        <cxf:jaxws-service serviceClass="org.mule.extension.ws.consumer.TestService"/>
        <component class="org.mule.extension.ws.consumer.TestService"/>
    </flow>

    <flow name="clientMidFlow" processingStrategy="non-blocking">
        <http:listener path="inMidFlow" config-ref="listenerConfig"/>
        <wsc:consume operation="echo" />
        <set-payload value="#[org.mule.tck.junit4.AbstractMuleContextTestCase.TEST_MESSAGE]"/>
    </flow>

</mule>