modules/extensions-spring-support/src/test/resources/vegan-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vegan="http://www.mulesoft.org/schema/mule/vegan"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/vegan http://www.mulesoft.org/schema/mule/vegan/current/mule-vegan.xsd">


    <vegan:apple-config name="apple" parameterizedFunction="#[['Apple' : 'Tasty']]"/>
    <vegan:banana-config name="banana"/>
    <vegan:kiwi-config name="kiwi"/>
    <vegan:peach-config name="peach">
        <vegan:connection/>
    </vegan:peach-config>

    <flow name="appleOk">
        <vegan:eat-apple config-ref="apple"/>
    </flow>

    <flow name="bananaOk">
        <vegan:eat-banana config-ref="banana"/>
    </flow>

    <flow name="kiwiOk">
        <vegan:eat-kiwi config-ref="kiwi"/>
    </flow>

    <flow name="peachOk">
        <vegan:harvest-peaches config-ref="peach"/>
        <logger/>
    </flow>

    <flow name="appleSourceOk">
        <vegan:harvest-apples config-ref="apple"/>
        <logger/>
    </flow>

    <flow name="readCookBook">
        <vegan:read-cook-book config-ref="apple">
            <vegan:cook-book>
                <vegan:vegan-cook-book numberOfPages="1">
                    <vegan:meal-dates>
                        <vegan:meal-date value="2008-09-15T15:53:23"/>
                    </vegan:meal-dates>
                    <vegan:meal-week-days>
                        <vegan:meal-week-day key="monday" value="2016-07-15T15:53:23"/>
                        <vegan:meal-week-day key="tuesday" value="2015-08-15T15:53:23"/>
                    </vegan:meal-week-days>
                </vegan:vegan-cook-book>
            </vegan:cook-book>
        </vegan:read-cook-book>
        <logger/>
    </flow>

</mule>
